/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.banner {
    width: 100%;
    height: 500px;
    /*background-color: rgba(39, 37, 34, 0.8);*/
    overflow: hidden;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-caption {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center
}

.banner-inner {
    width: 380px;
    padding-top: 3rem;
}

    .banner-inner h2 {
        font-weight: 800;
        font-size: 58px;
        letter-spacing: 1px;
        color: #fff;
        text-transform: uppercase;
        line-height: 58px;
    }

.section {
    padding: 4rem 0;
}

.section-hash {
    background: #f5f5f5;
}

.section-blue {
    background: #007cb3;
}

.section-green {
    background: #b8c630;
}

.section-white {
    background: #fff;
}

.section-title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #007cb3;
    font-size: 32px;
    letter-spacing: 1px;
}

.text-white {
    color: #fff;
}

.title-border {
    border-bottom: 1px solid #3cb2dd;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 3rem;
}

.text-border-white {
    border-color: #fff;
}

.aboutus-desc p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333333;
    font-size: 15px;
}

#vision-mission p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    margin-top: 2rem;
}

#request-demo-sub {
    position: absolute;
    width: 100%;
    margin-top: -53px;
    z-index: 9;
}

#footer.footer-subpage {
    padding: 8rem 0 2rem;
}

@media (min-width:320px) and (max-width:575px) {
    .banner-inner {
        width: 100%;
        padding-top: 3rem;
    }

        .banner-inner h2 {
            font-size: 39px;
            line-height: 45px;
        }

    .section-title {
        font-size: 18px;
        text-align: center;
    }

    .title-border {
        width: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}
/*--------------------------------------------------------------
# About us page style
--------------------------------------------------------------*/
.carousel-inner img {
    width: 100%;
    height: 100%
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

    #custCarousel .carousel-indicators > li {
        width: 100px
    }

    #custCarousel .carousel-indicators li img {
        display: block;
        opacity: 0.1
    }

    #custCarousel .carousel-indicators li.active img {
        opacity: 1
    }

    #custCarousel .carousel-indicators li:hover img {
        opacity: 0.75
    }

    #custCarousel .carousel-indicators li {
        background: none !important;
    }

.about-img-caption {
    position: absolute;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: -56px;
    padding: 10px 15px;
    min-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .about-img-caption p {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: #fff;
        font-size: 13px;
        text-align: center;
        margin: 0;
    }

.qp-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

    .qp-list li {
        width: calc(100% / 3);
    }

        .qp-list li:first-child {
            padding-right: 2rem;
        }

        .qp-list li:nth-child(2) {
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            padding: 0 2rem;
        }

        .qp-list li:last-child {
            padding-left: 2rem;
        }

        .qp-list li p {
            margin-top: 1.5rem;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            color: #000;
            font-size: 16px;
            margin-bottom: 0;
        }

.award-subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 2rem;
}

.award-titledesc {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

    .award-titledesc span {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #fff;
        font-size: 14px;
        text-align: center;
    }

.award-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-top: 3rem;
    flex-wrap: wrap;
}

    .award-list li {
        width: calc(100% / 2);
    }

        .award-list li:last-child div.award-bg {
            float: right;
        }

        .award-list li div.award-bg {
            background: #fff;
            width: 94%;
            padding: 2rem 3.5rem;
            min-height: 308px;
        }

.award-img-left img {
    float: left;
    margin-right: 1rem;
}

.award-list p {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333333;
    font-size: 14px;
    padding-top: 6rem;
}

.award-img-right img {
    float: right;
    margin-left: 1rem;
}

.award-img-right p {
    text-align: right;
}

.bruneisation-title-desc {
    width: 80%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333333;
    font-size: 14px;
    margin-bottom: 2rem;
}

.bruneisation-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

    .bruneisation-list li {
        width: calc(100% / 2);
    }

        .bruneisation-list li img {
            margin-bottom: 1rem;
            width: 100%;
            height: 285px;
        }

        .bruneisation-list li p {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            color: #656565;
            font-size: 14px;
            width: 80%
        }

.bruneisation-sub-section {
    padding: 2rem 0 2rem;
}

    .bruneisation-sub-section h5 {
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        color: #007cb3;
        font-size: 26px;
        text-align: center;
        margin-bottom: 2rem;
    }

    .bruneisation-sub-section h6 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 18px;
        margin-bottom: 1rem;
    }

    .bruneisation-sub-section p {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: #000;
        font-size: 14px;
    }

    .bruneisation-sub-section h4 {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: #007cb3;
        font-size: 16px;
        width: 80%;
        text-align: center;
        margin: 2rem auto;
        line-height: 25px;
    }

@media (min-width:320px) and (max-width:575px) {
    .qp-list li {
        width: 100%;
        margin-bottom: 2rem;
        border-bottom: 1px solid #fff;
        padding: 0;
        padding-bottom: 1rem;
    }

        .qp-list li:first-child {
            padding-right: 0;
        }

        .qp-list li:nth-child(2) {
            border-left: none;
            border-right: none;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 1rem;
        }

        .qp-list li:last-child {
            border-bottom: none;
        }

    .award-list li {
        width: 100%;
        margin-bottom: 1rem;
    }

        .award-list li div.award-bg {
            width: 100%;
            padding: 2rem 2rem;
        }

    .award-img-left {
        text-align: center;
    }

        .award-img-left img {
            float: none;
            margin-right: 0;
        }

    .award-list p {
        padding-top: 2rem;
    }

    .award-img-right {
        text-align: center;
    }

        .award-img-right img {
            float: none;
            margin: 0;
        }

        .award-img-right p {
            text-align: left;
        }

    .bruneisation-title-desc {
        width: 100%;
    }

    .bruneisation-list li {
        width: 100%;
    }

    .bruneisation-sub-section h5 {
        font-size: 18px;
    }

    .carousel-indicators li {
        height: auto;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .carousel-indicators li {
        height: auto;
    }
}
/*--------------------------------------------------------------
# Blog page style
--------------------------------------------------------------*/
.blog-search {
    border-bottom: 1px solid #ccc;
}

    .blog-search input {
        border: none;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: #4b4c4d;
        font-size: 14px;
    }

        .blog-search input:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }

    .blog-search .btn {
        border: none;
    }

.rp-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

    .rp-list li {
        width: calc(93% / 3);
        margin-right: 25px;
    }

        .rp-list li:last-child {
            margin: 0;
        }

        .rp-list li img {
            margin-bottom: 1.5rem;
        }

        .rp-list li h4 {
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            color: #007cb3;
            font-size: 19px;
            margin-bottom: 0.6rem;
        }

        .rp-list li p {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            color: #999999;
            font-size: 12px;
            margin-bottom: 0.5rem;
        }

.rp-date span {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #999999;
    font-size: 12px;
    margin-right: 2rem;
}

    .rp-date span i {
        margin-right: 5px;
    }

.rp-date {
    margin-bottom: 2rem;
}

.blog-right {
    padding-left: 2rem;
}

.blog-category {
    margin-bottom: 3.5rem;
}

    .blog-category label {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: #999999;
        font-size: 15px;
        margin: 0;
    }

    .blog-category select {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #000000;
        font-size: 16px;
        padding: 0;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #ccc;
    }

.sidebar-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    margin-bottom: 2rem;
}

.sidebar-sections {
    margin-bottom: 3rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2rem;
}

.blogright-social {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

    .blogright-social li:first-child {
        width: 150px;
    }

    .blogright-social li a {
        display: flex;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #000;
        color: #fff;
        margin-right: 10px;
        font-size: 14px;
        justify-content: center;
        align-items: center;
    }

.sidebar-sections input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #4b4c4d;
    font-size: 14px;
    border-radius: 0;
}

    .sidebar-sections input:focus {
        outline: none;
        box-shadow: none;
    }

.btn-submit {
    background: #b8c630;
    padding: 6px 35px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    border-radius: 0;
}

.category-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

    .category-list li a {
        padding: 5px 10px;
        background: #696969;
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 12px;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

.rpright-sidebar {
    margin-bottom: 1rem;
}

    .rpright-sidebar img {
        float: left;
        margin-right: 1rem;
    }

.rightside-rpstyle h6 {
    color: #cccccc;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.rightside-rpstyle h4 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.rightside-rpstyle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 61px;
}

@media(min-width:320px) and (max-width:575px) {
    .blog-search {
        margin-bottom: 2rem;
    }

    .rp-list li {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
}

@media(min-width:576px) and (max-width:767px) {
    .blog-search {
        margin-bottom: 2rem;
    }

    .rp-list li {
        width: calc(100% / 2);
        margin-right: 0;
        text-align: center;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .blog-search {
        margin-bottom: 2rem;
    }

    .rp-list li {
        width: calc(100% / 3);
        margin-right: 0;
        text-align: center;
    }
}
/*--------------------------------------------------------------
# PodCast page style
--------------------------------------------------------------*/
.podcast-talkingalign img {
    float: left;
    margin-right: 2rem;
}

.podcast-talkingdesc {
    display: flex;
    flex-direction: column;
    min-height: 265px;
    justify-content: flex-end;
}

    .podcast-talkingdesc h4 {
        color: #000;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 28px;
        margin-bottom: 1.3rem;
    }

    .podcast-talkingdesc p {
        color: #333333;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 1.3rem;
    }

    .podcast-talkingdesc ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

.podcast-retitle {
    color: #007cb3;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
}

.re-datetime span {
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-right: 1rem;
}

.re-datetime a {
    color: #28a1d0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-right: 1rem;
}

    .re-datetime a:last-child {
        color: #999999
    }

.re-full h4 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-top: 0.5rem;
}

.re-full p {
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 0.5rem;
    line-height: 25px;
}

.re-full {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.2rem;
    margin-bottom: 2rem;
}

.re-padd {
    padding-right: 6rem;
}

.sm-desc h5 {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 0.5rem;
}

.sm-desc p {
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.sm-desc h6 {
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.sm-desc {
    padding-right: 4.6rem;
    margin-bottom: 2rem;
}

.mp-panel {
    background: #007cb3;
    margin-bottom: 7rem;
}

.mp-innerpanel {
    padding: 4rem 1rem;
}

    .mp-innerpanel h2 {
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 22px;
    }

.mp-item {
    background: #fff;
    margin-bottom: 1.6rem;
}

.mp-item-inner {
    padding: 1rem;
}

.mp-item h4 {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.mp-item p {
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0.2rem
}

.mp-item h6 {
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin: 0
}

.mp-listen a {
    display: block;
    background: #000;
    padding: 0.5rem 1rem;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

    .mp-listen a i {
        margin-right: 15px;
        font-size: 1.2rem;
    }

    .mp-listen a:hover {
        background: #b8c630;
    }
    @media (min-width:320px) and (max-width:575px){
        .podcast-talkingalign img {
            float: none;
            margin-right: auto;
            margin-left: auto;
        }
        .podcast-talkingalign
        {
            text-align:center;
        }
        .podcast-talkingdesc
        {
            min-height:initial;
            margin-top:1rem;
        }
            .podcast-talkingdesc ul
            {
                justify-content:center;
            }
                .podcast-talkingdesc ul li a {
                    margin-right: 0.5rem;
                }
            .podcast-talkingdesc h4
            {
                font-size:20px;
            }
        .re-padd {
            padding-right: 0;
        }
        .re-full h4
        {
            font-size:18px;
        }
        .re-datetime span {
            margin-right: 0.5rem;
        }
    }
    @media (min-width:576px) and (max-width:767px){
        .sm-desc
        {
            padding-right:0;
        }
        .podcast-talkingalign img {
            float: none;
            margin-right: auto;
            margin-left: auto;
        }

        .podcast-talkingalign {
            text-align: center;
        }
        .podcast-talkingdesc {
            min-height: initial;
            margin-top: 1rem;
        }
            .podcast-talkingdesc ul li a {
                margin-right: 0.5rem;
            }
            .podcast-talkingdesc ul {
                justify-content: center;
            }
    }
/*--------------------------------------------------------------
# Services page style
--------------------------------------------------------------*/
.contract-desc p {
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.ouraccomplishments-panel {
    padding-left: 2rem;
}

    .ouraccomplishments-panel h4 {
        color: #007cb3;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 2rem;
    }

    .ouraccomplishments-panel img {
        margin-bottom: 1rem;
    }

.services-item {
    background: #f7f7f7;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1.6rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

    .services-item h4 {
        color: #000;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 1rem;
    }

    .services-item p {
        color: #666666;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 14px;
        margin: 0
    }

.solutions-items {
    background: #fff;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1.6rem;
}

    .solutions-items h4 {
        color: #000;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 1rem;
    }

    .solutions-items p {
        color: #666666;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 14px;
        margin: 0
    }

.services-logo {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

    .services-logo li {
        width: calc(100% / 4);
        min-height: 120px;
    }

        .services-logo li img {
            max-width: 100%;
            height: auto;
        }

.os-items h4 {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 1rem;
}

.os-inner-items {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: #fff;
    margin-bottom: 2rem;
}

.os-desc {
    padding: 2rem 1rem;
}

    .os-desc p {
        color: #333333;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        margin: 0;
    }

#other-services {
    padding-bottom: 6rem;
}
@media (min-width:320px) and (max-width:575px){
    .services-logo li {
        width: calc(100% / 1);
        min-height: 120px;
        text-align: center;
    }
}
@media (min-width:576px) and (max-width:767px) {
    .services-logo li {
        width: calc(100% / 2);
        min-height: 120px;
        text-align: center;
    }
    .os-inner-items img
    {
        width:100%;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .services-logo li {
        width: calc(100% / 2);
        min-height: 120px;
        text-align: center;
    }
}
    /*--------------------------------------------------------------
# Contact page style
--------------------------------------------------------------*/
    .contact-left h4 {
        color: #000000;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 20px;
    }

    ul.contact-link {
        padding: 0;
        margin: 2rem 0 4rem;
        list-style: none;
    }

    .contact-left ul.contact-link li a {
        color: #007cb3;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
        border-left: 3px solid;
        padding-left: 1.3rem;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-bottom: 1rem;
        display: block;
    }

    .contact-left address {
        color: #333333;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 14px;
        margin: 1rem 0 2rem;
        line-height: 25px;
    }

    .request-appointment {
        background: #fff;
        padding: 2rem 4rem;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

        .request-appointment h4 {
            color: #000000;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 2rem;
        }

    .contact-autofill {
        text-align: right;
        margin-bottom: 3rem;
    }

    .contact-details {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .contact-details li {
            line-height: 25px;
        }

        .contact-details li {
            color: #000000;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 14px;
            text-transform: capitalize
        }

            .contact-details li span {
                display: inline-block;
                width: 120px;
                font-weight: 400;
            }

    .request-appointment input, .request-appointment textarea {
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        padding: 0;
        color: #666666;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 2rem;
    }

        .request-appointment input:focus, .request-appointment textarea:focus {
            box-shadow: none;
        }

    .request-appointment .btn-submit {
        padding: 10px 40px;
        background: #b8c630;
        color: #000000;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
    }

    .contact-map {
        margin: 4rem 0 4rem;
    }

        .contact-map img {
            width: 100%;
        }

    @media (min-width:320px) and (max-width:575px) {
        .request-appointment {
            margin-top: 1rem;
            padding: 2rem 2rem;
        }
    }

    @media (min-width:576px) and (max-width:767px) {
        .request-appointment {
            margin-top: 1rem;
        }
    }

    @media (min-width:768px) and (max-width:991px) {
        .request-appointment {
            padding: 2rem 2rem;
        }
    }
    /*--------------------------------------------------------------
# Customer page style
--------------------------------------------------------------*/
    .customer-banner-inner {
        width: 100%;
        padding-top: 15rem;
        padding-right: 5rem;
    }

        .customer-banner-inner h2 {
            text-align: right;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            font-weight: bolder;
            font-size: 41px;
            color: #ffffff;
        }

    .customer-topdesc {
        color: #333333;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 35px;
        padding-top: 4rem;
    }

    .customer-right h4 {
        color: #333333;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 1rem;
    }

    .customers-logo {
        padding: 0;
        margin: 2rem 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }

        .customers-logo li {
            width: calc(100% / 4);
            border: 1px solid #ccc;
            height: 150px;
            border-top: none;
            border-left: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .testimonial-list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 4rem;
    }

        .testimonial-list li {
            width: calc(100% / 3);
            background: transparent;
            padding: 2rem 3rem;
        }

            .testimonial-list li:first-child {
                padding-left: 0;
            }

            .testimonial-list li:nth-child(2n+2) {
                background: #fff;
            }

            .testimonial-list li .testimonial-img {
                height: 110px;
            }

            .testimonial-list li .testimonial-desc {
                margin-bottom: 2rem;
                min-height: 303px;
            }

                .testimonial-list li .testimonial-desc p {
                    color: #333333;
                    font-family: 'Lato', sans-serif;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 25px;
                    margin: 0;
                }

                    .testimonial-list li .testimonial-desc p::first-letter {
                        color: #b8c630;
                        font-size: 29px;
                    }

            .testimonial-list li .testimonial-name h4 {
                color: #000000;
                font-family: 'Lato', sans-serif;
                font-weight: 700;
                font-size: 16px;
            }

            .testimonial-list li .testimonial-name h6 {
                color: #333333;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                font-size: 12px;
            }

    @media (min-width:320px) and (max-width:575px) {
        .customer-banner-inner {
            padding-top: 0rem;
            padding-right: 0;
        }

            .customer-banner-inner h2 {
                font-size: 22px;
            }

        .customer-topdesc {
            font-size: 20px;
            line-height: 30px;
            padding-top: 1rem;
            margin-bottom: 1rem;
        }

        .customers-logo li {
            width: calc(100% / 1);
        }

        .testimonial-list li {
            width: calc(100% / 1);
        }
    }

    @media (min-width:576px) and (max-width:767px) {
        .customers-logo li {
            width: calc(100% / 2);
        }

        .testimonial-list li {
            width: calc(100% / 1);
        }
    }

    @media (min-width:768px) and (max-width:991px) {
        .customer-topdesc {
            font-size: 20px;
        }
    }
    /*--------------------------------------------------------------
# Leadership page style
--------------------------------------------------------------*/
    #leadership-banner {
        height: 657px;
    }

        #leadership-banner .banner-inner {
            width: 530px;
            padding-top: 6rem;
        }

            #leadership-banner .banner-inner p {
                color: #fff;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                font-size: 19px;
            }

    .leader-name {
        text-align: right;
        padding-right: 2rem;
        padding-top: 4.4rem;
    }

        .leader-name h3 {
            color: #fff;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 18px;
        }

        .leader-name h5 {
            color: #fff;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 16px;
        }

    .leaders-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2rem;
    }

        .leaders-list li {
            width: calc(100% / 3);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 3rem;
        }

            .leaders-list li .leadersimg {
                width: 225px;
                height: 225px;
                border-radius: 50%;
                margin-bottom: 1rem;
            }

                .leaders-list li .leadersimg img {
                    width: 225px;
                    height: 225px;
                    border-radius: 50%;
                }

            .leaders-list li h4 {
                color: #1f6ea0;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 16px;
                text-align: center;
                margin-bottom: 1.2rem;
                width: 80%;
            }

            .leaders-list li h5 {
                color: #4e4d4d;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                font-size: 14px;
                text-align: center;
                width: 80%;
            }

    @media (min-width:320px) and (max-width:575px) {
        .leader-name {
            padding-right: 1rem;
            padding-top: 3rem;
        }

        .leaders-list li {
            width: calc(100% / 1);
        }
    }

    @media (min-width:576px) and (max-width:767px) {
        .leaders-list li {
            width: calc(100% / 1);
        }
    }

    @media (min-width:768px) and (max-width:991px) {
        .leaders-list li {
            width: calc(100% / 2);
        }
    }
    /*--------------------------------------------------------------
# Partners page style
--------------------------------------------------------------*/
    .partners-topdesc h4 {
        color: #007cb3;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 1.3rem;
    }

    .partners-topdesc p {
        color: #333333;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 3rem;
    }

    .partners-card {
        background: #f5f5f5;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .partner-logo {
        display: flex;
        background: #fff;
        width: 245px;
        height: 115px;
        justify-content: center;
        align-items: center;
    }

    .partner-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .partner-desc h4 {
            color: #007cb3;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 14px;
        }

        .partner-desc p {
            color: #333333;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 15px;
        }

    .partner-button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 3rem;
    }

        .partner-button a {
            background: #b8c630;
            color: #fff;
            font-size: 1rem;
            padding: 8px 12px;
            background: #b8c630;
            color: #fff;
            font-size: 1.5rem;
            padding: 0px 14px;
        }

    #partners {
        padding-bottom: 8rem;
    }

    @media (min-width:320px) and (max-width:575px) {
        .partners-topdesc h4 {
            font-size: 18px;
        }

        .partner-logo {
            margin-bottom: 1rem;
        }
    }

    @media(min-width:576px) and (max-width:767px) {
        .partner-logo {
            margin: 0 auto 1rem;
        }
    }

    @media(min-width:768px) and (max-width:991px) {
        .partner-logo {
            margin: 0 auto 1rem;
        }
    }
    /*--------------------------------------------------------------
# Our Team page style
--------------------------------------------------------------*/
    .team-list {
        padding: 0 5rem;
        display: flex;
        list-style: none;
        margin: 0;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }

        .team-list li {
            width: calc(100% / 4);
            border-right: 1px solid #fff;
            margin-bottom: 3rem;
        }

            .team-list li .team-img {
                width: 100%;
                height: 255px;
            }

                .team-list li .team-img img {
                    width: 100%;
                    max-height: 255px;
                }

            .team-list li .team-name {
                background: #007cb3;
                padding: 1rem;
            }

            .team-list li:nth-child(2n+2) .team-name {
                background: #35acd9;
            }

            .team-list li .team-name h4 {
                color: #fff;
                font-family: 'Lato', sans-serif;
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 1rem;
            }

            .team-list li .team-name h5 {
                color: #fff;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 12px;
            }

    .team-social {
        padding: 5px 0;
    }

        .team-social a {
            color: #999999;
            font-size: 1rem;
            padding-right: 10px;
        }

            .team-social a:hover {
                color: #b8c630;
            }
@media (min-width:320px) and (max-width:575px) {
    .team-list{
        padding:0;
    }
        .team-list li {
            width: calc(100% / 1);
        }
        }
@media (min-width:576px) and (max-width:767px) {
    .team-list {
        padding: 0;
    }

        .team-list li {
            width: calc(100% / 2);
        }
}
@media (min-width:768px) and (max-width:1199px) {
    .team-list {
        padding: 0;
    }

        .team-list li {
            width: calc(100% / 3);
        }
}